:root{
  --home_page_bg_color: #025c53;
  --card_header_bg_color: #04423c;
  --btn_color: hsl(187, 28%, 25%);
  --btn_hover_bg_color: black;
  --btn_hover_text_color: yellow;
  --to_review_color: #D35400;
  --on_review_color: #154360;
  --all_review_done: #800080;
  --informed_me: #996600;
  --resubmit: #8c1aff;
}

.login:hover{background: #ccc; color:#333;transition: .3s;}

/* eikhan theke amr coding suru tar age rahat er coding */
.header_footer_bg_color
{
   background-color: var(--home_page_bg_color);
}
.card_header
{
  background-color: var(--card_header_bg_color);
}
.btn-success
{
  background-color: var(--btn_color);
}
.btn:hover
{
  background-color: var(--btn_hover_bg_color);
  color: var(--btn_hover_text_color);
  font-weight: bold;
  transition: .5s;
}
.a_hover
{
  color: white;
  transition: all .5s;
}
.a_hover:hover
{
  background-color: var(--btn_hover_bg_color);
  border: 1px solid red;
  color: var(--btn_hover_text_color);
  border-radius: 5px;
}
textarea {
  border:1px solid #999999;
  width:100%;
  /* margin:5px 0; */
  padding:3px;
  box-sizing: content-box;
}
.to_review
{
  color: var(--to_review_color);
}
.on_review
{
  color: var(--on_review_color);
}
.all_review_done
{
  color: var(--all_review_done);
}
.informed_me
{
  color: var(--informed_me);
}
.resubmit
{
  color: var(--resubmit);
}